.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  color: whitesmoke;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.centered-image {
  margin-bottom: 200px;
}

.container {
  display: flex;
  justify-content: center;
}

.flex-cols {
  flex-direction: column;
}

.creation-section {
  margin-right: 20px;
}

.players-section {
  flex: 1;
}

form {
margin-bottom: 20px;
display: flex; /* Make the form flex container */
justify-content: center; /* Center items horizontally */
text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

p {
  font-style: italic;
}

body {
  background-color: #070F2B; /* Your desired background color */
}

.form-group {
  align-items: center; /* Align items vertically */
  margin-right: 20px;
  justify-content: center;
}

label {
  display: block;
  margin-right: 10px; /* Adjust spacing between label and input */
  font-size: 25px;
}

input[type="text"],
input[type="number"] {
  padding: 8px; 
  width: 400px; 
  border-radius: 5px; 
  border: 1px solid #ccc;
  font-size: 25px; 
}

.blue-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.blue-button:hover {
  background-color: #0056b3;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.green-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.green-button:hover {
  background-color: #218838;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.gray-button {
  padding: 10px 20px;
  background-color: #677077;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.gray-button:hover {
  background-color: #505d68;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.red-button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.red-button:hover {
  background-color: #c82333;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.yellow-button {
  padding: 10px 20px;
  background-color: #d39e00;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.yellow-button:hover {
  background-color: #bf8e00;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;

  background-image: none; 
  box-shadow: none; 
}

input:disabled {
  background-color: #f4f4f4;
  color: #000;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
.creation-section label {
  margin-top: 8px;
}
.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-container {
  display: flex; 
  flex-direction: row; 
}

.status-and-canvas-container {
  display: flex;
  flex-direction: column;
}

.canvas-container {
  width: 100%; 
}

.status-item {
  display: inline-block;
  margin-right: 20px;
}

.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent confetti from blocking clicks */
}

.confetti {
  width: 10px;
  height: 10px;
  background-color: #f00; /* Adjust color as desired */
  position: absolute;
  border-radius: 50%;
  animation: confetti-fall 2s ease-out infinite;
}

@keyframes confetti-fall {
  0% {
      transform: translateY(0) rotate(45deg);
      opacity: 1;
  }
  100% {
      transform: translateY(100vh) rotate(45deg);
      opacity: 0;
  }
}
